body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #282c34;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#streamlist-form input {
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
}

#streamlist-form button {
    padding: 7px;
    vertical-align: top;
}

#placeholder {
    text-align: center;
}

